---
import FamilyVerticalChart from "../components/charts/FamilyVerticalChart.astro";
import HorizontalBarChart from "../components/charts/HorizontalBarChart.astro";
import StackedHorizontalBarChart from "../components/charts/StackedHorizontalBarChart.astro";
import VerticalBarChart from "../components/charts/VerticalBarChart.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout activeTab="supervivencia">
  <main class="max-w-5xl mx-auto mt-16 w-[90%] pb-24">
    <div class="w-full">
      <StackedHorizontalBarChart />
      <div class="mt-16 flex flex-col md:flex-row justify-between gap-16">
        <HorizontalBarChart />
        <VerticalBarChart />
        <FamilyVerticalChart />
      </div>
    </div>
  </main>
</Layout>
